<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Answers</title>
  <link rel="stylesheet" href="../static/answers.css">
</head>

<body>
  <h1> {{ message[results_tracker] }}</h1>

  <p style="font-size:60px;"> {{ q_a.question }}</p>

  <h2 style="text-align: center;"> {{ q_a.subject }}</h2>

  <div class="flex-container">
    <div>
      {% if message[results_tracker] == 'Correct' %}
        <h2 style="background-color: #dc267f;"> You Answered Correctly: {{ q_a.correct_answer }} </h2>
      {% else %}
        <h2 style="background-color: #648fff;"> You Answered Incorrectly: {{ q_a.wrong_answer }} </h2>
      {% endif %}
    </div>
    <div>
      <h2 style="background-color: #648fff;"> Correct Answer: {{ q_a.correct_answer }} </h2>
    </div>
  </div>
  {% if results_tracker < 4 %}
  <a href="{{ url_for('questions') }}">
    <button style="width: 300px; height: 200px; margin-left: 255px" id="eee">Next Question</button>
  </a>
  {% endif %}

  {% if results_tracker == 4 %}
  <a href="{{ url_for('.results', questions_tracker = questions_tracker, message = message) }}">
    <button style="width: 300px; height: 200px; margin-left: 25px" id="eee">Results</button>
  </a>
  {% endif %}
</body>

</html>
